button {
  width: 328px;
  cursor: pointer;
  padding: 20px 0;
  border-radius: 12px;
  border: 2px solid #6e3aba;
  background-color: #6e3aba;
  color: white;
  font-size: 18px;
}

button.secondry {
  color: #6e3aba;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TT Hoves";
}
section {
  padding: 37px 121px;
  margin-top: calc(60px + (160 - 60) * ((100vw - 375px) / (1280 - 375)));
  margin-bottom: calc(60px + (160 - 60) * ((100vw - 375px) / (1280 - 375)));
}
.logo {
  width: 200px;
  margin-bottom: 85px;
}
.html_css_js {
  width: 395px;
  margin-top: 121px;
}
.info {
  display: flex;
  gap: 25px 304px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
h1 {
  font-size: 58px;
  margin-bottom: 41px;
}
.A {
  font-size: 27px;
  max-width: 450px;
  margin-top: 40px;
  line-height: 37.8px;
}
.B {
  font-size: 27px;
  max-width: 450px;
  margin-top: 20px;
  line-height: 37.8px;
}
.C {
  font-size: 27px;
  max-width: 432px;
  margin-top: 20px;
  line-height: 37.8px;
}
.D {
  font-size: 27px;
  max-width: 477px;
  margin-top: 20px;
  line-height: 37.8px;
}
.h2 {
  margin-top: 20px;
  margin-right: 101px;
  max-height: 37px;
}

#hello {
  background-image: url("./img/html_css_js\ 1.png");
  background-repeat: no-repeat;
  background-position: top 121px right 58px;
  background-size: 30vw;
}

.purplebg {
  background-color: #6e3aba;
}

section.purplebg {
  text-align: center;
  padding-top: calc(40px + (80 - 40) * ((100vw - 375px) / (1280 - 375)));
  padding-bottom: calc(40px + (80 - 40) * ((100vw - 375px) / (1280 - 375)));
}

h3 {
  font-size: calc(34px + (52 - 34) * ((100vw - 375px) / (1280 - 375)));

  font-weight: 700;
  line-height: 117%;
  color: #ffffff;
  text-transform: uppercase;
}

.timer {
  display: flex;
  justify-content: space-between;
  margin-top: calc(20px + (57 - 20) * ((100vw - 375px) / (1280 - 375)));
  margin-bottom: calc(20px + (57 - 20) * ((100vw - 375px) / (1280 - 375)));
}

.timerElen .value {
  font-family: "Chava";
  font-size: calc(60px + (174 - 60) * ((100vw - 375px) / (1280 - 375)));
  line-height: 107%;
  color: #2f1d4e;
}

.timerElen .desc {
  font-size: calc(10px + (27 - 10) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 500;
  line-height: 118%;
  color: #2f1d4e;
  text-transform: uppercase;
}

h4 {
    font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    line-height: 118%;
    text-transform: uppercase;
  }
  #main{
    display: flex;
    flex-direction: column;
    gap: 52px 0;
  }
  .miniMain{
    display: flex;
    gap: 30px 120px;
  
  }
  .miniMain div{
    flex:1 1 400px
  }
  h5 {
    font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 20px;
    padding-right: 120px;
  }
  
  p {
    font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 400;
    line-height: 140%;
  }
@media (max-width:1170px) {
 .miniMain{
  flex-direction: column;
  
 } 
 .miniMain div{
  flex-basis: auto;
 }
}



h2{
  font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 500;
  line-height: 107%;
  text-transform: uppercase;
}

.bio{
  margin-top: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
  display: flex;
  gap: 20px 50px;
  flex-wrap: wrap;
}

.coolTeacher{
  flex-basis: 240px;
  flex-grow: 1;
  max-width: 350px;
}

.coolTeacher img{
  width: 100%;
}

.biotext{
  flex-basis: 340px;
  flex-grow: 3;
}

h4{
  font-size: calc(38px + (48 - 38) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 700;
  line-height: 121%;
}

.biotext p{
  font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 400;
  line-height: 140%;
  margin-top: 20px;
  margin-bottom: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
}

.experience{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: calc(10px + (90 - 10) * ((100vw - 375px) / (1280 - 375)));
}

.exp{
  width: calc(156px + (250 - 156) * ((100vw - 375px) / (1280 - 375)));
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exp img{
  width: 36px;
}

.exp span{
  font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
  line-height: 140%;
}

.section{
  margin-top: calc(60px + (160 - 60) * ((100vw - 375px) / (1280 - 375)));
  margin-bottom: calc(60px + (160 - 60) * ((100vw - 375px) / (1280 - 375)));
}

.space img{
  width: calc(327px + (430 - 327) * ((100vw - 375px) / (1280 - 375)));
  height: calc(229px + (300 - 229) * ((100vw - 375px) / (1280 - 375)));
  display: grid;
  width: 100%;
  grid-row: inherit;
}

.space {
  flex-basis: 240px;
  flex-grow: 1;
  max-width: 450px;
  width: 430px;
  height: 300px;
}  

.money img{
  width: calc(328px + (1065 - 328) * ((100vw - 375px) / (1280 - 375)));
  height: calc(96px + (310 - 96) * ((100vw - 375px) / (1280 - 375)));
  top:  calc(350px + (432 - 350) * ((100vw - 375px) / (1280 - 375)));
  left: 100%;
}

.exp{
  gap: 20px;
}

.sticbox img{
  width: calc(406px + (579 - 406) * ((100vw - 375px) / (1280 - 375)));
  height: calc(248px + (354 - 248) * ((100vw - 375px) / (1280 - 375)));
  flex-grow: 1;
  flex-wrap: wrap;
} 

.aboutUs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 100px;
  margin-top: calc(34px + (80 - 34) * ((100vw - 375px) / (1280 - 375)));
  
  align-items: center;
}

.aboutUs h5 {

 font-size: calc(22px + (27 - 22) * ((100vw - 375px) / (1280 - 375)));
 font-weight: 600;
 line-height: 140%;
 text-transform: uppercase;
 margin-top: calc(20px + (40 - 20) * ((100vw - 375px) / (1280 - 375)));
 grid-row: 2/3;
 
}

.stat {
  font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
  font-weight: 700;
  line-height: 118%;
  margin-bottom: calc(30px + (40 - 30) * ((100vw - 375px) / (1280 - 375)));
}

.span {
  font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
  line-height: 140%;
  
}

.little {
font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
font-weight: 400;
line-height: 140%;

}

@media (max-width: 710px) {
  .aboutUs{
    grid-template-columns: 1fr;
  }

  .aboutUs img{
    grid-row: 1/1;
  }
}

.feedbackstudents {
width: 100%;
max-width: 1280px;
margin: 0 auto;
padding: 20px;
text-align: start;
margin-top: calc(20px + (40 - 20) * ((100vw - 375px) / (1280 - 375)));
background-color: #ffffff;
}

.fs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #F0F7FD;
  border-radius: 8px;
  margin: 10px;
  max-width: 300px;
  outline: solid #F0F7FD;
  background-color:#F0F7FD;
}

.fs icon_youtube {
  gap: 30px 54px;
}

.student img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.student span{
  font-size: 1em;
}

.feedbackstudents {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.fs p{
  font-size: 21px;
  color: #333;
  margin-bottom: 20px;
}

.student span{
  font-weight: bold;
  color: #555;
}

@media (min-width: 768px) {
  .fs { 
    flex: 1 1 300px;
    max-width: 300px;
  }
}

.lessons{
 font-size: calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
 font-weight: 400;
 line-height: 140%;
 margin-bottom: 48px;
 margin-top: 40px;
 gap: 24px;
}

.lessons hr{
  margin-top: 24px;
  color: #A1A1A1;
}